<div id="friend_<%= friend.id %>">
<%= friend.name %> <%= friend.age %> Shoe Size <%= friend.shoe.size unless friend.shoe.nil? %> 																																			 
																																			 <%= link_to 'Edit', edit_friend_path(friend), remote: true, class: 'edit_friend' %> |
																																			 <%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, 			
																																			             remote: true, class: 'delete_friend' %>
</div>
<br />