<%= form_for(@friend, remote: true) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.number_field :age, class: "form-control" %>
  </div>
  <%= f.fields_for :shoe do |shoe_form| %>
     <div>
       <%= shoe_form.label :size %>
       <%= shoe_form.text_field :size, class: "form-control" %>
     </div>
   <% end %>
  
    <%= f.submit "Update Friend" %>

<% end %>